<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.himebaugh.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- App Widget 1 w/ Service -->
        <receiver android:name=".RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info"/>
        </receiver>

        <service
            android:name=".RecipeIntentService"
            android:exported="false"/>

        <!--
        &lt;!&ndash; App Widget 2 w/ Service &ndash;&gt;
        <receiver
            android:name=".EmployeeWidgetProvider2"
            android:label="Recipe Widget 2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget"/>
        </receiver>

        <service android:name=".EmployeeWidgetService2"/>

        &lt;!&ndash; App Widget 3 (StackWidget) &ndash;&gt;
        <receiver
            android:name=".EmployeeStackWidgetProvider"
            android:label="Recipe Widget 3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_stack_widget_info"/>
        </receiver>
        -->


        <!-- Register the TaskContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".database.AppDatabaseProvider"
            android:authorities="com.himebaugh.bakingapp"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".OldRecipeStepListActivity"
            android:label="@string/title_recipe_step_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".OldRecipeStepDetailActivity"
            android:label="@string/title_recipe_step_detail"
            android:parentActivityName=".OldRecipeStepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.himebaugh.bakingapp.OldRecipeStepListActivity"/>
        </activity>
        <!-- Implement Up Navigation with android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".OldRecipeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".RecipeStepListActivity"
            android:label="@string/title_recipe_step_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".RecipeStepDetailActivity"
            android:label="@string/title_recipe_step_detail"
            android:parentActivityName=".RecipeStepListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecipeStepListActivity"/>
        </activity>
        <activity
            android:name=".BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>